<%= form_for(@case_doctor) do |f| %>
  <% if @case_doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@case_doctor.errors.count, "error") %> prohibited this case_doctor from being saved:</h2>

      <ul>
      <% @case_doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :case_id %><br>
    <%= f.text_field :case_id %>
  </div>
  <div class="field">
    <%= f.label :doctor_id %><br>
    <%= f.text_field :doctor_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
