<p id="notice"><%= notice %></p>

<p>
  <strong>Casecode:</strong>
  <%= @case.casecode %>
</p>

<p>
  <strong>User:</strong>
  <%= @case.user %>
</p>

<%= link_to 'Edit', edit_case_path(@case) %> |
<%= link_to 'Back', cases_path %>
