<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @patient.user %>
</p>

<p>
  <strong>Bmi:</strong>
  <%= @patient.bmi %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
